{% if items is not empty %}
  <p>See all {{ type }} from
    {% for item in items %}
      {% if loop.length - 1  == loop.index %}
        {% set separator = ', and ' %}
      {% elseif loop.last %}
        {% set separator = '' %}
      {% else %}
        {% set separator = ', ' %}
      {% endif %}
      {{ item }}{{ separator }}
    {% endfor %}
  </p>
{% endif %}

